@charset "utf-8";

/* 重置默认样式 */
body,ul,ol,p,h1,h2,h3,h4,h5,h6,input,button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,button {
  border: none;
  outline: none;
}

body {
  min-width: 1190px;
  font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
}

.inner {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  line-height: 1;
  visibility: hidden;
  height: 0;
}

/* 定义svg图标字体 */
@font-face {
  font-family: 'iconfont';
  src:
    url('../fonts/lly.ttf') format('truetype'),
    url('../fonts/lly.woff') format('woff'),
    url('../fonts/lly.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*="icon-"] {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-search:before {
  content: "\e603";
}

.icon-location:before {
  content: "\e604";
}

.icon-close:before {
  content: "\e600";
}

.icon-cart2:before {
  content: "\e607";
}

.icon-to-right:before {
  content: "\e601";
}

.icon-to-left:before {
  content: "\e602";
}

.icon-to-up:before {
  content: "\e606";
}

.icon-to-down:before {
  content: "\e605";
}

.icon-app:before {
  content: "\e608";
}

.icon-cart1:before {
  content: "\e609";
}

.icon-home:before {
  content: "\e60a";
}

.icon-user:before {
  content: "\e639";
}

.icon-fenlei:before {
  content: "\e635";
}

.icon-phone:before {
  content: "\e6f9";
}

.icon-bolloon:before {
  content: "\e7ee";
}

.icon-fangdajing:before {
  content: "\e60b";
}

.icon-cart3:before {
  content: "\e60c";
}

.icon-to-right1:before {
  content: "\e60d";
}

.icon-camera:before {
  content: "\e60e";
}

.icon-to-up1:before {
  content: "\e60f";
}

.icon-xiajiantou1:before {
  content: "\e610";
}

.icon-zuojiantou1:before {
  content: "\e611";
}